
<html>
    <body>
        <h1>Weown Properties</h1>
        <h3> Dear {{ name }},</h3>
        <p>Please confirm your email to register for weown.properties by clicking on the button below</p><br>
        <img src="{{domain}}/static/ui_assets/images/icons/logo.png" alt="" title="" class="w-50 mt-2">
        
        <div style="text-align: center;"><a href="{{ body }}">Click to Confirm</a></div>
        <p>If you did not register on weown.properties, simply delete this email.  You will not be registered on weown.properties until you<a href="{{ body }}" > confirm your email </a></p>
        <div style="text-align: center;"><p>Best,
                                        The WeOwn team</p></div>
        <p>This email contains confidential information.  If you have received this e-mail in error, you are hereby notified that any review, copying or distribution of it is strictly prohibited.  Please inform us and destroy the original transmittal.  Thank you for your cooperation.</p>

    </body>
</html>