{% extends 'index.html' %}
{% block content %}
    <div class="content">
        <center>
        <h1 style="font-family:Georgia, 'Times New Roman', Times, serif">Welcome to my Application</h1>
        {% if request.session.logged_User %}
        <button class="btn btn-primary" onclick="window.location.href='{% url 'logout' %}'" >Logout</button>
        {% else %}
        <button class="btn btn-primary" onclick="window.location.href='{% url 'userLogin' %}'" >Login</button>
        {% endif  %}
        </center>
    </div>
{% endblock %}